<!DOCTYPE html>
<html>
    <%- include('head.ejs')%>
    <body>
        <div class="container">
            <div id="cardbox" class="ui card">
                <div class="content">
                    <div class = "left floated author">
                        <i id="iconImage" class="fas fa-user"></i>
                    </div>
                    <div>
                        <div id="titleText" class="header"><%= title %></div>
                        <div id="contentsText" class="description">
                            <%= description %>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="row">
                        <td class="col1">
                            <label id ="contentsText">과목 번호</label>
                        </td>
                        <td class="col2" colspan="2">
                            <div class="ui input">
                                <label id ="contentsText"><%= curID %></label>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col1">
                            <label id="contentsText">과목명</label>
                        </td>
                        <td class="col2">
                            <div class="ui input">            
                                <label id ="contentsText"><%= curName%></label>
                            </div>
                        </td>
                    </tr>
                </table>                    
                <table>
                    <tr valign="baseline">
                        <td>
                        </td>
                        <td id="buttonContainer" algin="right">
                            <button id="submitButton" class="ui primary button" type="button" onclick="location.href='../public/addcourse.html'">추가하기</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>