<!DOCTYPE html>
<html>
    <%- include('head.ejs')%>
    <body>
        <div class="container">
            <div id="cardbox" class="ui card">
                <div class="content">
                    <div class = "left floated author">
                        <i id="iconImage" class="fas fa-user"></i>
                    </div>
                    <div>
                        <div id="titleText" class="header"><%= title %></div><br>
                        <div id="contentsText" class="description">
                            >> <%= curName %> 현재 로그인 중
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="row">
                        <td class="col1">
                            <label id ="contentsText">과목번호</label>
                        </td>
                        <td class="col1">
                            <label id ="contentsText">과목명</label>
                        </td>
                        <td class="col1">
                            <label id ="contentsText">이수구분</label>
                        </td>
                        <td class="col1">
                            <label id ="contentsText">이수학점</label>
                        </td>
                        <td class="col1">
                            <label id ="contentsText">담당교수</label>
                        </td>
                        <td class="col1">
                            <label id ="contentsText">강의시간</label>
                        </td>
                        <td class="col1">
                            <label id ="contentsText">수강인원</label>
                        </td>
                        <td class="col1">
                        </td>
                    </tr>
                    <% for (var i=0; i<results.length; i++) {%>
                    <tr class="row">                
                        <form id="form1" method="post" action="/process/regcourse">
                            <input type="hidden" name="c_id" value="<%= results[i]._doc.c_id %>"/>
                            <input type="hidden" name="grade" value="<%= results[i]._doc.grade %>"/>
                            <input type="hidden" name="time" value="<%= results[i]._doc.time %>"/>
                            <input type="hidden" name="cnt" value="<%= results[i]._doc.cnt %>"/>
                            <input type="hidden" name="max" value="<%= results[i]._doc.max %>"/>
                            <td class="col1">
                                <label id ="contentsText"><%= results[i]._doc.c_id %></label>
                            </td>
                            <td class="col1">
                                <label id ="contentsText"><%= results[i]._doc.c_name %></label>
                            </td>
                            <td class="col1">
                                <label id ="contentsText"><%= results[i]._doc.class %></label>
                            </td>
                            <td class="col1">
                                <label id ="contentsText"><%= results[i]._doc.grade %></label>
                            </td>
                            <td class="col1">
                                <label id ="contentsText"><%= results[i]._doc.prof %></label>
                            </td>
                            <td class="col1">
                                <label id ="contentsText"><%= results[i]._doc.time %></label>
                            </td>
                            <td class="col1">
                                <label id ="contentsText"><%= results[i]._doc.cnt %></label>
                                <label id ="contentsText">/</label>
                                <label id ="contentsText"><%= results[i]._doc.max %></label>
                            </td>
                            <td class="col1">                
                                <input id="submitCourse" class="ui primary button" type="submit" value="수강하기" name="">
                            </td>
                        </form>
                    </tr>
                    <% } %>
                </table>
                <br>
                <table>
                    <tr valign="baseline">
                        <td id="buttonContainer" algin="right">
                            <button id="submitButton" class="ui primary button" type="button" onclick="location.href='../process/modifyUser'">사용자 정보 수정하기</button>
                        </td>
                        <td id="buttonContainer" algin="right">
                            <button id="submitButton" class="ui primary button" type="button" onclick="location.href='../process/mycourse'">나의 수강목록 조회하기</button>
                        </td>
                        <td id="buttonContainer" algin="right">
                            <button id="submitButton" class="ui primary button" type="button" onclick="location.href='../process/logout'">로그아웃하기</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>